# Ignora l'ambiente virtuale
venv/
env/
.venv/
.env/
SentimentAnalysis/venv_2

# --- File di Dati Pesanti (da ignorare assolutamente) ---
*.tgz
*.tar.gz
*.zip
*.rar
*.csv
*.vec

# Ignora la cartella dei dati
/
progetto_1/data/


# Ignora i file di grafo
*.graphml

.DS_Store

Sentiment analysis/venv_m2/
SentimentAnalysis/venv_m2/

.vscode/